# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd

## imports for Python, Pandas

In [2]:
import json
from pandas import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [4]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [5]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [6]:
# load json as string
#json.load(open('data/world_bank_projects.json'))

In [7]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects.json')
pd.set_option("display.max_columns", None)
sample_json_df.head(5)

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,totalcommamt,id,mjsector_namecode,docty,sector1,lendinginstr,countrycode,sector2,totalamt,mjtheme_namecode,boardapprovaldate,countryshortname,sector4,prodlinetext,productlinetype,regionname,status,country_namecode,envassesmentcategorycode,project_abstract,approvalfy,projectdocs,lendprojectcost,lendinginstrtype,theme1,grantamt,themecode,borrower,sectorcode,sector3,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,130000000,P129828,"[{'code': 'EX', 'name': 'Education'}, {'code':...","Project Information Document,Indigenous People...","{'Percent': 46, 'Name': 'Primary education'}",Investment Project Financing,ET,"{'Percent': 26, 'Name': 'Secondary education'}",130000000,"[{'code': '8', 'name': 'Human development'}, {...",2013-11-12T00:00:00Z,Ethiopia,"{'Percent': 12, 'Name': 'Tertiary education'}",IBRD/IDA,L,Africa,Active,Federal Democratic Republic of Ethiopia!$!ET,C,{'cdata': 'The development objective of the Se...,1999,"[{'DocDate': '28-AUG-2013', 'EntityID': '09022...",550000000,IN,"{'Percent': 100, 'Name': 'Education for all'}",0,65,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,"ET,BS,ES,EP","{'Percent': 16, 'Name': 'Public administration...","[{'Percent': 46, 'Name': 'Education'}, {'Perce...",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethi...,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, ...",{'$oid': '52b213b38594d8a2be17c780'}
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,4700000,P144674,"[{'code': 'BX', 'name': 'Public Administration...","Project Information Document,Integrated Safegu...","{'Percent': 70, 'Name': 'Public administration...",Specific Investment Loan,TN,"{'Percent': 30, 'Name': 'General public admini...",0,"[{'code': '1', 'name': 'Economic management'},...",2013-11-04T00:00:00Z,Tunisia,NaN,Recipient Executed Activities,L,Middle East and North Africa,Active,Republic of Tunisia!$!TN,C,NaN,2015,"[{'DocDate': '29-MAR-2013', 'EntityID': '00033...",5700000,IN,"{'Percent': 30, 'Name': 'Other economic manage...",4700000,"54,24",GOVERNMENT OF TUNISIA,"BZ,BS",NaN,"[{'Percent': 70, 'Name': 'Public Administratio...",November,"[{'code': '24', 'name': 'Other economic manage...",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration...",{'$oid': '52b213b38594d8a2be17c781'}
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,6060000,P145310,"[{'code': 'TX', 'name': 'Transportation'}]","Resettlement Plan,Environmental Assessment,Int...","{'Percent': 100, 'Name': 'Rural and Inter-Urba...",Investment Project Financing,TV,NaN,6060000,"[{'code': '5', 'name': 'Trade and integration'...",2013-11-01T00:00:00Z,Tuvalu,NaN,IBRD/IDA,L,East Asia and Pacific,Active,Tuvalu!$!TV,B,NaN,2014,"[{'DocDate': '21-OCT-2013', 'EntityID': '00033...",6060000,IN,"{'Percent': 46, 'Name': 'Regional integration'}",0,"52,81,25,47",MINISTRY OF FINANCE AND ECONOMIC DEVEL,TI,NaN,"[{'Percent': 100, 'Name': 'Transportation'}]",November,"[{'code': '47', 'name': 'Regional integration'...",Tuvalu,http://www.worldbank.org/projects/P145310?lang=en,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c782'}
3,[{'Name': 'Other social services'}],N,OTHER,RE,"[Social dev/gender/inclusion, Social dev/gende...",0,LABOR INTENSIVE PUBLIC WORKS PROJECT PMU,Gov't and Civil Society Organization Partnership,"7,7",NaN,1500000,P144665,"[{'code': 'JX', 'name': 'Health and other soci...","Procurement Plan,Project Information Document,...","{'Percent': 100, 'Name': 'Other social services'}",Technical Assistance Loan,RY,NaN,0,"[{'code': '7', 'name': 'Social dev/gender/incl...",2013-10-31T00:00:00Z,"Yemen, Republic of",NaN,Recipient Executed Activities,L,Middle East and North Africa,Active,Republic of Yemen!$!RY,C,NaN,2014,"[{'DocDate': '15-MAY-2013', 'EntityID': '00035...",1500000,IN,"{'Percent': 50, 'Name': 'Participation and civ...",1500000,"59,57",MIN. OF PLANNING AND INT'L COOPERATION,JB,NaN,"[{'Percent': 100, 'Name': 'Health and other so...",October,"[{'code': '57', 'name': 'Participation and civ...",Republic of Yemen,http://www.worldbank.org/projects/P144665?lang=en,IBRD,Active,0,"[{'code': 'JB', 'name': 'Other social services'}]",{'$oid': '52b213b38594d8a2be17c783'}
4,[{'Name': 'General industry and trade sector'}...,N,IDA,PE,"[Trade and integration, Financial and private ...",13100000,MINISTRY OF TRADE AND INDUSTRY,Second Private Sector Competitiveness and Econ...,"5,4",2019-04-30T00:00:00Z,13100000,P144933,"[{'code': 'YX', 'name': 'Industry and trade'},...","Project Information Document,Integrated Safegu...","{'Percent': 50, 'Name': 'General industry and ...",Investment Project Financing,LS,"{'Percent': 40, 'Name': 'Other industry'}",13100000,"[{'code': '5', 'name': 'Trade and integration'...",2013-10-31T00:00:00Z,Lesotho,NaN,IBRD/IDA,L,Africa,Active,Kingdom of Lesotho!$!LS,B,{'cdata': 'The development objective of the Se...,2014,"[{'DocDate': '06-SEP-2013', 'EntityID': '09022...",15000000,IN,"{'Percent': 30, 'Name': 'Export development an...",0,"41,45",MINISTRY OF FINANCE,"FH,YW,YZ","{'Percent': 10, 'Name': 'SME Finance'}","[{'Percent': 50, 'Name': 'Industry and trade'}...",October,"[{'code': '45', 'name': 'Export development an...",Kingdom of Lesotho,http://www.worldbank.org/projects/P144933/seco...,IBRD,Active,0,"[{'code': 'YZ', 'name': 'General industry and ...",{'$oid': '52b213b38594d8a2be17c784'}

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [8]:
# To have a better understanding of data

sample_json_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   sector                    500 non-null    object
 1   supplementprojectflg      498 non-null    object
 2   projectfinancialtype      500 non-null    object
 3   prodline                  500 non-null    object
 4   mjtheme                   491 non-null    object
 5   idacommamt                500 non-null    int64
 6   impagency                 472 non-null    object
 7   project_name              500 non-null    object
 8   mjthemecode               500 non-null    object
 9   closingdate               370 non-null    object
 10  totalcommamt              500 non-null    int64
 11  id                        500 non-null    object
 12  mjsector_namecode         500 non-null    object
 13  docty                     446 non-null    object
 14  sector1                   500 non-null    object
 15  lendinginstr              495 non-null    object
 16  countrycode               500 non-null    object
 17  sector2                   380 non-null    object
 18  totalamt                  500 non-null    int64
 19  mjtheme_namecode          500 non-null    object
 20  boardapprovaldate         500 non-null    object
 21  countryshortname          500 non-null    object
 22  sector4                   174 non-null    object
 23  prodlinetext              500 non-null    object
 24  productlinetype           500 non-null    object
 25  regionname                500 non-null    object
 26  status                    500 non-null    object
 27  country_namecode          500 non-null    object
 28  envassesmentcategorycode  430 non-null    object
 29  project_abstract          362 non-null    object
 30  approvalfy                500 non-null    int64
 31  projectdocs               446 non-null    object
 32  lendprojectcost           500 non-null    int64
 33  lendinginstrtype          495 non-null    object
 34  theme1                    500 non-null    object
 35  grantamt                  500 non-null    int64
 36  themecode                 491 non-null    object
 37  borrower                  485 non-null    object
 38  sectorcode                500 non-null    object
 39  sector3                   265 non-null    object
 40  majorsector_percent       500 non-null    object
 41  board_approval_month      500 non-null    object
 42  theme_namecode            491 non-null    object
 43  countryname               500 non-null    object
 44  url                       500 non-null    object
 45  source                    500 non-null    object
 46  projectstatusdisplay      500 non-null    object
 47  ibrdcommamt               500 non-null    int64
 48  sector_namecode           500 non-null    object
 49  _id                       500 non-null    object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB

## 1) Top 10 countries with most projects

In [9]:
top_ten_countires_with_most_projects = sample_json_df.groupby('countryname').count().sort_values(by="project_name", ascending=False)[:10]
top_ten_countires_with_most_projects['project_count'] = top_ten_countires_with_most_projects.project_name
top_ten_countires_with_most_projects['project_count']

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Nepal                              12
Kingdom of Morocco                 12
Republic of Mozambique             11
Africa                             11
Name: project_count, dtype: int64

## 2) Top 10 major project themes

In [10]:
# First we create a DataFrame from the given json data using json_normalize() function:

project_theme_data_list = sample_json_df.mjtheme_namecode.to_list()

normalized_project_theme_list = []
for project_theme in project_theme_data_list:
    normalized_project_theme_list.append(json_normalize(project_theme))

project_theme_df = pd.concat(normalized_project_theme_list, ignore_index=True)
project_theme_df

     code                                      name
0       8                         Human development
1      11
2       1                       Economic management
3       6     Social protection and risk management
4       5                     Trade and integration
...   ...                                       ...
1494   10                         Rural development
1495    9                         Urban development
1496    8                         Human development
1497    5                     Trade and integration
1498    4  Financial and private sector development

[1499 rows x 2 columns]

In [11]:
#Note: There were 122 missing names in project_theme_df which we remove them from our couting int the following code:

# Using groupby():
# project_theme_df[project_theme_df.name != ''].groupby('name').count().sort_values(by="code", ascending=False)[:10]

# Using value_counts():
project_theme_df[project_theme_df.name != ''].name.value_counts().sort_values(ascending=False)[:10]

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Name: name, dtype: int64

## 3) Dataframe with filled missing names:

In [12]:
# First, we create a DataFrame without the missing project names.

non_missing_names_df = project_theme_df[project_theme_df.name != '']

non_missing_names_df = non_missing_names_df.reset_index(drop=True)
print(non_missing_names_df)

     code                                      name
0       8                         Human development
1       1                       Economic management
2       6     Social protection and risk management
3       5                     Trade and integration
4       2                  Public sector governance
...   ...                                       ...
1372   10                         Rural development
1373    9                         Urban development
1374    8                         Human development
1375    5                     Trade and integration
1376    4  Financial and private sector development

[1377 rows x 2 columns]

In [13]:
# Then, we merge two DataFrames to fill the missing project names.

filled_theme_df = pd.merge(project_theme_df, non_missing_names_df, on='code', suffixes=('_x','')).drop('name_x' , axis=1)

print(f'Number of missing project names: {filled_theme_df[filled_theme_df.name == ""].name.count()}')

Number of missing project names: 0